{{ use('yii/grid/GridView') }}
{{ use('yii/widgets/ActiveForm') }}

{{ grid_view_widget({
    'dataProvider': usersDataProvider,
    'filterModel': usersFilterModel,
    'columns': [
        {'class': '\\yii\\grid\\SerialColumn'},
        'username',
        'email',
    ]
}) }}